<h1> Employees Form </h1>
<% if flash[:employee_errors] %>
    <% flash[:employee_errors].each do |error| %>
        <p><%= error %></p>
        <% end %>
    <% end %>

<%= form_for(@employee) do |f| %>
    <label>Employee first name:</label><br>
    <%= f.text_field :first_name %><br>
  
    <label>Employee last name:</label><br>
    <%= f.text_field :last_name %><br>

    <label>Alias:</label><br>
    <%= f.text_field :alias %><br>

    <label>Job Title:</label><br>
    <%= f.text_field :title %><br>
    
    <label>Office:</label><br>
    <%= f.text_field :office %><br>

    <label>Dog:</label><br>
    <%= f.collection_select :dog_id, Dog.all, :id, :name %>
    
    <%= f.submit %>
  <% end %>