<h1><%= @employee.first_name  %> <%= @employee.last_name  %></h1>

<ul>

    <li>Alias: <%= @employee.alias %></li>
    <li>Title: <%= @employee.title %></li>
    <li>Office: <%= @employee.office %></li>
    <li> Dog name: <%= @employee.dog.name %></li>
    <img src=<%= @employee.img_url%>>


</ul>


